<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="navbar(searchLocation)">
    <nav class="navbar navbar-expand-lg mb-5 bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/locations}">WeatherApp</a>

            <form class="d-flex" th:action="@{/location/search}" th:object="${searchLocation}" method="get">
                <input th:field="*{name}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                <button th:href="@{/location/search}" class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1">
                        <span th:text="${session.userName}"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownMenuButton1" >
                        <li><a class="dropdown-item" th:href="@{/auth/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>


</html>