<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
    <div class="container">
        <div th:if="${locations.isEmpty()}" class="alert alert-danger">
            <p>You do not add any location!</p>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-2" style="width: 18rem;" th:each="location : ${locations}">
                <div class="card shadow-0 border">
                    <div class="card-body p-4">
                        <h4 class="mb-1 sfw-normal">
                            <span th:text="${location.name}"></span>,
                            <span th:text="${location.sys.country}"></span>
                        </h4>
                        <p class="mb-2">Current temperature:
                            <strong><span th:text="${location.main.temp}"></span>°C</strong>
                        </p>
                        <p>Feels like:
                            <strong><span th:text="${location.main.feelsLike}"></span>°C</strong>
                        </p>
                        <div class="d-flex flex-row align-items-center">
                            <p class="mb-0 me-4" th:text="${location.weather[0].description}"></p>
                            <img th:src="${location.weather[0].icon}">
                        </div>
                        <a th:href="@{/location/{locationId}/delete(locationId=${location.id})}" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>