<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body layout:fragment="body">
<div class="container d-flex justify-content-center min-vh-100 align-items-center">
    <div class="card text-center">
        <div class="card-header" th:text="${locationName}"></div>
        <div class="card-body">
            <img th:src="${iconImg}">
            <h5 class="card-title" th:text="${weather.main}"></h5>
            <p class="card-text" th:text="${weather.description}"></p>
            <a th:href="@{/locations}" class="btn btn-primary">Back to locations</a>
        </div>
    </div>

</div>
</body>
</html>


